body{
  background-color: #3fc4c5;
}
.App {
  text-align: center;
}

.LogoTjm{
  color: #e4e8e8;
  margin-bottom: 5px;
}
.Slogan{
  margin-top: 0px;
  color: #e4e8e8;
  font-style: italic;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
